<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Alerts tests" thread-count="4" parallel="methods">
        <!--        from cmd for generate report-->
        <!--    mvn clean install site io.qameta.allure:allure-maven:report-->
        <groups>

            <run>
                <include name="regressionTests"/>
            </run>
        </groups>
        <classes>
            <class name="hover.HoverTests"></class>
            <class name="alerts.FileUploadtests"></class>
            <class name="alerts.AlertTests"></class>
            <class name="dropdown.DropdownTests"></class>
            <class name="horizontalslider.HorizontalSliderPageTests"></class>
            <class name="login.LoginTest"></class>
            <!--                <methods>-->
            <!--                    <include name="testAcceptAlert"/>-->
            <!--                    <include name="testGetTextFromAlert"/>-->
            <!--                    <include name="testSetInputInAlert"/>-->
            <!--                </methods>-->



        </classes>
    </test>
</suite>